@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;700&family=Press+Start+2P&family=Zilla+Slab:wght@300;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons+Round');

html,
body {
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    box-sizing: border-box;
    background-color: #343a40;
    color: #ced4da;
    text-decoration: none;
    line-height: 1.25rem;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

input[type='number'] {
    -moz-appearance: textfield;
    outline: none;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
}

.app-bar {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100%;
    height: 3rem;
    padding: 0 0 0 1rem;
    margin: 0;
    background-color: #343a40;
}

.app-bar__title {
    font-size: 0.875rem;
    font-weight: 700;
    line-height: 3rem;
    padding: 0;
    margin: 0;
}

@media (min-width: 48rem) {
    .app-bar {
        height: 4rem;
    }

    .app-bar__title {
        font-size: 1rem;
        font-weight: 700;
        line-height: 4rem;
        padding: 0;
        margin: 0;
    }
}

.menu {
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 3rem;
    bottom: 0;
    left: 0;
    background-color: #343a40;
}

@media (min-width: 48rem) {
    .menu {
        width: 4.5rem;
        height: 100%;
        top: 0;
        left: 0;
    }
}

.contents {
    list-style: none;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    padding: 0;
    margin: 0;
}

@supports (display: flex) {
    .contents {
        top: unset;
        transform: none;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
}

.content {
    height: 3rem;
    width: 3rem;
}

a:focus-visible {
    -webkit-appearance: unset;
    outline: unset;
}

.content a:link > span,
.content a:link > p {
    color: #f1f8f9;
}

.content a:active > span,
.content a:active > .content-icon,
.content a:active > p {
    color: #1c7ed6;
}

.content a:hover > * {
    color: #868e96;
}

.content-icon {
    display: block;
    width: 1.5rem;
    height: 1.5rem;
    color: #f8f9fa;
    padding: 0.5rem;
    margin: 0.25rem auto;
}

.content-label {
    display: none;
}

@media (min-width: 48rem) {
    .contents {
        list-style: none;
        position: relative;
        top: 55%;
        left: 0;
        transform: translateY(-50%);
        padding: 0;
        margin: auto 0;
    }

    @supports (display: flex) {
        .contents {
            flex-direction: column;
            justify-content: center;
        }
    }

    .content {
        height: 4.5rem;
        width: 100%;
    }

    .content-icon {
        display: block;
        width: 1.5rem;
        padding: 0.875rem 0 0.5rem;
        margin: 0 auto;
    }

    .content-label {
        display: block;
        font-size: 0.625rem;
        color: #f1f8f9;
        letter-spacing: 1px;
        line-height: 0.875rem;
        padding: 0 0 12px 0;
        margin: 0;
        text-align: center;
    }
}

.head {
    max-width: 47rem;
}

.head {
    margin: 3rem auto 0;
    display: block;
}

@media (min-width: 48rem) {
    .head {
        margin: 8rem auto 0;
    }
}

.head-logo {
    margin: 1rem auto;
    max-width: 60%;
}

.head-logo-label {
    font-family: 'Press Start 2P', cursive;
    color: #1c7ed6;
}

@supports (display: flex) {
    .head-logo {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .head-logo-image {
        display: block;
        width: 4rem;
    }

    .head-logo-label {
        font-size: 2rem;
        padding-left: 8px;
    }

    @media (min-width: 48rem) {
        .head-logo {
            margin: 4rem auto;
            max-width: 80%;
        }

        .head-logo-image {
            display: block;
            width: 8rem;
        }

        .head-logo-label {
            font-size: 4rem;
            padding-left: 24px;
        }
    }
}

#expenses {
    margin: 0 1rem;
}

.expenses-content {
    background-color: #212529;
    border-radius: 0.5rem;
    padding: 0.75rem;
    margin: 0 0 1rem;
}

#backdrop {
    display: none;
    position: fixed;
    z-index: 3;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(34, 38, 42, 0.5);
}

.insert-balance {
    display: none;
    position: fixed;
    z-index: 4;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: #212529;
}

.insert-balance-container {
    position: relative;
    width: 64%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.text-field-input {
    width: 100%;
    height: 4rem;
}

#balance-amount {
    display: block;
    width: 94%;
    height: 4rem;

    font-size: 1.5rem;
    font-weight: 300;
    color: #f8f9fa;

    border: 2px solid #495057;
    background-color: #212529;
    padding: 0 0 0 1rem;
    margin: 1rem auto;
}

#text-field__floating-label {
    display: none;
}

#tex-field__balance-input {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
}

.proccess-action {
    height: 4rem;
    margin: 0;
}

@supports (display: flex) {
    .proccess-action {
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
}

.proccess__button {
    display: block;
    width: 48%;
    line-height: 2rem;
    font-size: 0.875rem;
    font-weight: 300;
    letter-spacing: 0.8px;
    color: #f8f9fa;
    background: #1864ab;
    padding: 0.25rem;
    border: 2px solid #1c7ed6;
}

#balance-amount,
.proccess__button {
    border-radius: 0.5rem;
}
.proccess-cancel {
    background-color: #343a40;
    border: 2px solid #495057;
}

#balance-amount:focus-within,
.proccess__button:focus-within {
    outline-style: none;
    border-color: #f8f9fa;
    border: 2px solid #f8f9fa;
}

@media (min-width: 48rem) {
    .proccess-action {
        margin: 0.5rem 1.5rem;
    }

    @supports (display: flex) {
        .proccess-action {
            justify-content: flex-end;
        }

        .proccess__button {
            margin: 0 0 0 1rem;
        }
    }

    .proccess__button {
        width: 8rem;
        height: 3rem;
        font-size: 1.5rem;
        letter-spacing: 0.8px;
        padding: 0 auto;
    }

    #balance-amount,
    .proccess__button {
        border-radius: 1rem;
    }
}

#payments #bills,
#savings {
    display: none;
}

#payments,
#bills,
#savings {
    display: none;
    background-color: #212529;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 4;
}

.content-wrapper {
    position: absolute;
    max-width: 88%;
    width: 47rem;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1rem;
    z-index: 0;
}

.content-title {
    font-size: 1rem;
    line-height: 1.25rem;
    margin: 0;
}
.content-text {
    font-size: 0.875rem;
    font-weight: 300;
    line-height: 1rem;
    margin: 0.5rem 0;
}

.input-title,
.input-category,
.input-amount {
    height: 3rem;
    padding: 0.5rem 0;
}

.input-title__text,
.input-category__text,
.input-amount__number,
.process__button {
    height: 3rem;
    max-width: 96%;
    width: 100%;
    font-size: 1rem;
    line-height: 3rem;
    color: #f8f9fa;
    background-color: #212529;
    appearance: none;
    border: 2px solid #495057;
    border-radius: 0.5rem;
    padding: 0 0 0 1rem;
}

.input-title__text:focus-within,
.input-category__text:focus-within,
.input-amount__number:focus-within {
    border: 2px solid #f8f9fa;
    outline: none;
}

.input-title__text[placeholder],
.input-category__text[placeholder],
.input-amount__number[placeholder] {
    color: #ced4da;
}

.content-wrapper > .proccess-action {
    width: 100%;
    justify-content: space-between;
}
.content-wrapper > .proccess-action > button {
    width: 46%;
}

.input-title > label,
.input-category > label,
.input-amount > label {
    display: none;
}

@media (min-width: 48rem) {
    .content--wrapper {
        width: 64%;
        margin: 0 auto;
    }

    .content-title {
        font-size: 2rem;
        line-height: 2.5rem;
        margin: 0;
    }
    .content-text {
        font-size: 1rem;
        font-weight: 300;
        line-height: 1.5rem;
        margin: 0.5rem 0;
    }

    .input-title,
    .input-category,
    .input-amount,
    .proccess-action {
        height: 3rem;
        padding: 2rem 0;
    }

    .input-title__text,
    .input-category__text,
    .input-amount__number {
        height: 4rem;
        width: 100%;
        font-size: 2rem;
        line-height: 4rem;
        color: #f8f9fa;
        border-radius: 1rem;
        padding: 0 0 0 1.5rem;
        margin: 0 0 1rem 0;
    }

    .content-wrapper > .proccess-action {
        max-width: 96%;
        width: 48rem;
        margin: auto 0;
        justify-content: flex-end;
    }

    .content-wrapper > .proccess-action > button {
        width: 8rem;
    }
}

.open {
    display: block;
}
